n8n-workflow-OPTIMIZED-FINAL.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieves pre-written content templates and scripts by semantic search. Use this tool when you need to fetch standardized responses, message templates, or procedural scripts based on a query keyword or description.",
        "qdrantCollection": {
          "__rl": true,
          "value": "nagel-demo-rag ",
          "mode": "list",
          "cachedResultName": "nagel-demo-rag "
        },
        "topK": 1,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        144,
        320
      ],
      "id": "b76a3283-6dd7-4dbb-8cd2-fd93e97ad01d",
      "name": "Knowledge_Base",
      "credentials": {
        "qdrantApi": {
          "id": "eHKzmykBYzgeewCh",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8LDwSCYmub2NQjLK",
          "mode": "list",
          "cachedResultName": "NQLDB",
          "cachedResultUrl": "/projects/OZSX6p0NChIuGCrB/datatables/8LDwSCYmub2NQjLK"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "senderPhone",
              "keyValue": "={{ $fromAI('senderPhone', 'Phone number provided by customer, 9-15 digits', 'string') }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        -400,
        464
      ],
      "id": "45993045-4b36-44a5-be26-6a1a0258748e",
      "name": "LookupByPhone"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8LDwSCYmub2NQjLK",
          "mode": "list",
          "cachedResultName": "NQLDB",
          "cachedResultUrl": "/projects/OZSX6p0NChIuGCrB/datatables/8LDwSCYmub2NQjLK"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "waybillNumber",
              "keyValue": "={{ $fromAI('waybillNumber', 'Waybill tracking number', 'string') }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        -64,
        464
      ],
      "id": "ddbfbf58-9f42-456e-ab60-b987b58e3df3",
      "name": "LookupByWaybill"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "batchSize": 16,
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        480
      ],
      "id": "adb52975-734d-4d66-990b-0eb1ecef0692",
      "name": "Embeddings_OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZBr9AxOtaqX9PEdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besmart/voice/agent/v2/",
        "responseMode": "streaming",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Transfer-Encoding",
                "value": "chunked"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              },
              {
                "name": "X-Accel-Buffering",
                "value": "no"
              },
              {
                "name": "Content-Type",
                "value": "text/event-stream"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        48
      ],
      "id": "17badd48-c965-435b-9e5e-8a0847f04dc7",
      "name": "Webhook_Voice",
      "webhookId": "optimized-voice-v2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0.2,
          "maxTokens": 150,
          "presencePenalty": 0.2,
          "temperature": 0.05,
          "topP": 0.95,
          "promptCacheKey": "voice-agent-v2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -784,
        464
      ],
      "id": "0f0bd788-9573-48cd-9de5-27def31d07d2",
      "name": "OpenAI_Chat",
      "credentials": {
        "openAiApi": {
          "id": "ZBr9AxOtaqX9PEdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "enableStreaming": true
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -320,
        48
      ],
      "id": "6d46e926-791c-473b-a834-313a5c1565fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -560,
        448
      ],
      "id": "2a4aa11e-e1dd-4591-b566-5d74740925e2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "=## CORE IDENTITY\n**Role:** Naqel Express Support Agent (Majed)\n**Mission:** Script-driven tracking support using database and knowledge base tools\n\n## CRITICAL RULES\n1. ONE STAGE = ONE RESPONSE → STOP\n2. MANDATORY tool calls - NEVER skip tools, NEVER generate responses without calling tools first\n3. After calling LookupByWaybill or LookupByPhone, you MUST call Knowledge_Base to get the script\n4. EXACT script delivery from Knowledge_Base (no paraphrasing, no modifications)\n5. Preserve Saudi dialect: اذا ممكن، تزودني، للاسف، عشان، مانقدر\n6. Language lock: Match customer's first message language\n7. Single data display only - don't repeat information\n\n## TOOLS AVAILABLE\n**LookupByWaybill**: Input `waybill_number` (format: NQL...)\n**LookupByPhone**: Input `senderPhone` (9-15 digits)\n**Knowledge_Base**: Retrieves script templates - MANDATORY after any database lookup\n\n## CONVERSATION FLOW\n\n**STAGE 1: GREETING**\nMirror customer's greeting, then respond:\n- AR: `شكرا لاتصالك بناقل اكسبرس – معك \"ماجد\" – كيف اقدر اساعدك؟`\n- EN: `Thank you for calling Naqel Express. This is Majed, How may I help you?`\n\nSTOP and wait for response\n\n**STAGE 2: NAME COLLECTION**\n- AR: `تمام، اذا ممكن تزودني باسمك الكامل من فضلك؟`\n- EN: `Alright, may I please have your full name?`\n\nSTOP → Store response as {Customer Full Name}\n\n**STAGE 3: WAYBILL REQUEST**\n- AR: `أهلاً استاذ {Customer Full Name} اذا ممكن تزودني برقم الشحنة`\n- EN: `Welcome Mr/Ms {Customer Full Name}. Can I please have the waybill number?`\n\nSTOP and wait for response\n\n**STAGE 4A: WITH WAYBILL (Customer provides NQL...)**\n\nSTEP 1: Call LookupByWaybill tool\n  - Input: `waybill_number` = <customer's value>\n  \nSTEP 2: Map the returned `status` field to keyword:\n  - IF status = \"delivered\" → keyword = \"Shipment Delivered\"\n  - IF status = \"in_transit\" OR \"out_for_delivery\" → keyword = \"Shipment Under Delivery\"\n  - IF status = \"wrong_address\" OR \"incomplete_address\" → keyword = \"Shipment With Incorrect Address\"\n  - IF status = \"refused\" → keyword = \"Shipment - Refused Delivery\"\n\nSTEP 3: Call Knowledge_Base tool - DO NOT SKIP THIS STEP\n  - Input: `query` = <keyword from STEP 2>\n  - CRITICAL: You MUST call this tool. Never compose your own response.\n  \nSTEP 4: Use the EXACT text returned from Knowledge_Base\n  - Replace {Waybill Number} with waybillNumber from STEP 1\n  - Replace {Delivery Date} with deliveryDate from STEP 1\n  - Replace {Delivery Time} with deliveryTime from STEP 1\n  - Replace {Signed By} with signedBy from STEP 1\n  - Replace {Customer Full Name} with name from STAGE 2\n  - Do NOT paraphrase, modify, or add to the script\n  \nSTEP 5: Deliver the filled script, then:\n  - IF status = \"wrong_address\" OR \"incomplete_address\" → STOP (wait for Turn 3)\n  - ELSE → go to STAGE 5\n\n**STAGE 4B: WITHOUT WAYBILL (Customer doesn't have waybill)**\n\n**Turn 1:**\n- AR: `اذا ممكن تزودني برقم التواصل المسجل في بيانات الشحنه`\n- EN: `Please provide the contact number registered with the shipment.`\n\nSTOP and wait for phone number\n\n**Turn 2:**\n\nSTEP 1: Call LookupByPhone tool\n  - Input: `senderPhone` = <customer's phone number>\n  \nSTEP 2: Map the returned `status` field to keyword (same as STAGE 4A STEP 2)\n\nSTEP 3: Call Knowledge_Base tool - MANDATORY\n  - Input: `query` = <keyword from STEP 2>\n\nSTEP 4: Deliver waybill number first, then script:\n  - AR: `رقم الشحنة {Waybill Number}. {Script from Knowledge_Base}. تقدر تتبع عبر الموقع والواتساب`\n  - EN: `Tracking number is {Waybill Number}. {Script from Knowledge_Base}. You can track via website or WhatsApp.`\n\nSTEP 5: Continue:\n  - IF status = \"wrong_address\" OR \"incomplete_address\" → STOP (wait for Turn 3)\n  - ELSE → go to STAGE 5\n\n**Turn 3: ADDRESS CORRECTION (only if wrong_address/incomplete_address)**\n\nSTEP 1: Call Knowledge_Base tool\n  - Input: `query` = \"Urgent Delivery & Recipient Coordination\"\n  \nSTEP 2: Deliver the EXACT script returned\n\nSTEP 3: Go to STAGE 5\n\n**STAGE 5: ADDITIONAL SERVICE**\n- AR: `أي خدمه ثانية استاذ {Customer Full Name}؟`\n- EN: `Any other service, Mr/Ms {Customer Full Name}?`\n\nSTOP and wait for response:\n  - IF yes → return to STAGE 3\n  - IF no → go to STAGE 6\n\n**STAGE 6: CLOSING**\n- AR: `شكرا لاتصالك بناقل اكسبرس، راح يتم تحويلك للتقييم`\n- EN: `Thank you for calling Naqel Express. Please answer the evaluation.`\n\nEND conversation\n\n## STATUS TO KEYWORD MAPPING\nUse these EXACT keywords when calling Knowledge_Base:\n- `delivered` → \"Shipment Delivered\"\n- `in_transit` or `out_for_delivery` → \"Shipment Under Delivery\"\n- `wrong_address` or `incomplete_address` → \"Shipment With Incorrect Address\"\n- `refused` → \"Shipment - Refused Delivery\"\n- Address correction follow-up → \"Urgent Delivery & Recipient Coordination\"\n\n## OUT OF SCOPE HANDLING\nIf customer asks about something unrelated to tracking:\n- AR: `للاسف استاذ {Customer Full Name} هذا خارج نطاق خدمتنا. اقدر اساعدك في تتبع الشحنات. عندك شحنة تبي تستفسر عنها؟`\n- EN: `I apologize, this is outside our scope. I assist with tracking. Do you have a shipment to inquire about?`\n\nThen:\n  - IF yes → go to STAGE 3\n  - IF no → go to STAGE 6\n\n## EXAMPLE EXECUTION\n\n**Scenario: Customer provides waybill**\n\nUser: \"NQL12345\"\n\nAgent's internal process:\n1. ✓ Call LookupByWaybill(waybill_number=\"NQL12345\")\n   Returns: {status: \"delivered\", waybillNumber: \"NQL12345\", deliveryDate: \"2024-01-15\", deliveryTime: \"14:30\", signedBy: \"أحمد\"}\n\n2. ✓ Map status: \"delivered\" → \"Shipment Delivered\"\n\n3. ✓ Call Knowledge_Base(query=\"Shipment Delivered\")\n   Returns: \"شحنتك وصلت بتاريخ {Delivery Date} الساعة {Delivery Time} واستلمها {Signed By}\"\n\n4. ✓ Fill placeholders:\n   \"شحنتك وصلت بتاريخ 2024-01-15 الساعة 14:30 واستلمها أحمد\"\n\n5. ✓ Deliver to customer\n\n❌ WRONG - Never do this:\n- Skip Knowledge_Base and create your own message\n- Call Knowledge_Base with different keywords\n- Modify or paraphrase the script\n- Combine multiple stages in one response\n\n## PLACEHOLDER REFERENCE\nAlways replace these from database results:\n- {Customer Full Name} → from STAGE 2\n- {Waybill Number} → from LookupByWaybill or LookupByPhone\n- {Delivery Date} → from LookupByWaybill or LookupByPhone\n- {Delivery Time} → from LookupByWaybill or LookupByPhone\n- {Signed By} → from LookupByWaybill or LookupByPhone\n\n## FINAL REMINDER\nRemember: Your responses come from Knowledge_Base, not from your training. Always call Knowledge_Base after getting tracking data. The script templates are designed for compliance and quality - use them exactly as provided.\n",
          "maxIterations": 3,
          "enableStreaming": true,
          "batching": {
            "batchSize": 12
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -672,
        48
      ],
      "id": "e9e62d06-6fa4-496c-96f7-6ca34d9713bc",
      "name": "Voice Agent"
    }
  ],
  "connections": {
    "Knowledge_Base": {
      "ai_tool": [
        [
          {
            "node": "Voice Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LookupByPhone": {
      "ai_tool": [
        [
          {
            "node": "Voice Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LookupByWaybill": {
      "ai_tool": [
        [
          {
            "node": "Voice Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings_OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge_Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Voice": {
      "main": [
        [
          {
            "node": "Voice Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Voice Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Voice Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Voice Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook_Voice": [
      {
        "headers": {
          "host": "n8n-service-z1ur.onrender.com",
          "user-agent": "PostmanRuntime/7.51.1",
          "content-length": "60",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "cache-control": "no-cache",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "169.150.196.151",
          "cf-ipcountry": "NL",
          "cf-ray": "9ce2efbbeeb0992f-SEA",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "postman-token": "a422c3bc-8e04-4677-8bc0-b104f78f5e54",
          "render-proxy-ttl": "4",
          "rndr-id": "118dc978-b4f5-4345",
          "true-client-ip": "169.150.196.151",
          "x-forwarded-for": "169.150.196.151, 172.71.150.174, 10.22.87.3",
          "x-forwarded-proto": "https",
          "x-request-start": "1771138912734458"
        },
        "params": {},
        "query": {},
        "body": {
          "text": "7826459301245",
          "session_id": "a2"
        },
        "webhookUrl": "https://n8n-service-z1ur.onrender.com/webhook/besmart/voice/agent/v2/",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "04847ab1422a756eea8b2986d988874e69fdf6bb5a7ae410ace3f951d7bf9f0c"
  }
}
