n8n-workflow-optimized.json
{
  "nodes": [
    {
      "parameters": {
        "path": "test/tools/v2/"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7e6d13e6-76b5-4555-be77-3d843a80c54d",
      "name": "MCP Server Trigger",
      "webhookId": "1afbbcd4-aad5-4c07-b6ae-abd38f6f988e"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MWcpf7F1hbDNgHxz",
          "mode": "list",
          "cachedResultName": "newNQLDB",
          "cachedResultUrl": "/projects/yVZvwHWu9h1Tj4z6/datatables/MWcpf7F1hbDNgHxz"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "waybillNumber",
              "keyValue": "={{ $fromAI('waybillNumber', 'Waybill tracking number', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        -96,
        208
      ],
      "id": "ecd4fe94-cc02-4936-944d-23718c406376",
      "name": "LookupByWaybill"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MWcpf7F1hbDNgHxz",
          "mode": "list",
          "cachedResultName": "newNQLDB",
          "cachedResultUrl": "/projects/yVZvwHWu9h1Tj4z6/datatables/MWcpf7F1hbDNgHxz"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "senderPhone",
              "keyValue": "={{ $fromAI('senderPhone', 'Phone number provided by customer, 9-15 digits', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        64,
        208
      ],
      "id": "39bdf2b0-0539-4940-930a-84ad22cab4a0",
      "name": "LookupByPhone"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to get the script template by searching with the EXACT keyword. Returns the status message script.",
        "qdrantCollection": {
          "__rl": true,
          "value": "nagel-demo-rag ",
          "mode": "list",
          "cachedResultName": "nagel-demo-rag "
        },
        "topK": 1,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        256,
        160
      ],
      "id": "07a7e6b7-ab91-4d80-acc6-d75d0f5d981e",
      "name": "Knowledge Base",
      "credentials": {
        "qdrantApi": {
          "id": "uoN2N58TsKUrvSOm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 16,
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        304
      ],
      "id": "51a433e6-dd3e-48a0-99d4-f6ea49ee2f70",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "C2ZN2vO3U0wx0Vmj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "## CORE IDENTITY\n**Role:** Naqel Express Support Agent (Amal)\n**Mission:** Script-driven tracking support using MCP tools\n\n## CRITICAL RULES\n1. ONE STAGE = ONE RESPONSE → STOP\n2. MANDATORY MCP tool calls — never generate data\n3. EXACT script delivery from Knowledge_Base (no paraphrasing)\n4. Preserve Saudi dialect: اذا ممكن، تزودني، للاسف، عشان، مانقدر\n5. Language lock: Match customer's first message\n6. Single data display only\n\n## MCP TOOLS\n**NaqelTrackingDB**: Input `waybill_number` (NQL...) OR `phone_number`\n**Knowledge_Base**: Input `query` (exact keyword), `topK=1`\n\n## FLOW\n\n**STAGE 1: GREETING**\nMirror greeting + AR: `شكرا لاتصالك بناقل اكسبرس – معك \"امل\" – كيف اقدر اساعدك؟` | EN: `Thank you for calling Naqel Express. This is Amal, How may I help you?`\nSTOP\n\n**STAGE 2: NAME**\nAR: `تمام استاذ، اذا ممكن تزودني باسمك الكامل للتسجيل في نظام ناقل اكسبرس؟` | EN: `Alright sir, could you please provide your full name for registration in Naqel Express system?`\nSTOP → Store as {Customer Full Name}\n\n**STAGE 3: WAYBILL REQUEST**\nAR: `أهلاً استاذ {Customer Full Name} اذا ممكن تزودني برقم الشحنة` | EN: `Welcome Mr/Ms {Customer Full Name}. Can I please have the waybill number?`\nSTOP\n\n**STAGE 4A: WITH WAYBILL**\n1. Call `NaqelTrackingDB(waybill_number=<value>)`\n2. Map status → KB keyword (see table)\n3. Call `Knowledge_Base(query=<keyword>)`\n4. Fill placeholders, deliver script\nIF status=wrong_address/incomplete_address: STOP for Turn 3\nELSE: → STAGE 5\n\n**STAGE 4B: WITHOUT WAYBILL**\n**Turn 1:** AR: `اذا ممكن تزودني برقم التواصل المسجل في بيانات الشحنه` | EN: `Please provide the contact number to search for tracking.`\nSTOP\n\n**Turn 2:**\n1. Call `NaqelTrackingDB(phone_number=<value>)`\n2. Get script from Knowledge_Base\n3. Deliver: AR: `رقم الشحنة {Waybill}. {Status Message}. تقدر تتبع عبر الموقع والواتساب` | EN: `Tracking number is {Waybill}. {Status Message}. Track via website/WhatsApp.`\nIF wrong_address: STOP for Turn 3\n\n**Turn 3:** Call `Knowledge_Base(query=\"Urgent Delivery & Recipient Coordination\")`, deliver → STAGE 5\n\n**STAGE 5: ADDITIONAL SERVICE**\nAR: `أي خدمه ثانية استاذ {Customer Full Name}` | EN: `Any other service, Mr/Ms {Customer Full Name}?`\nIF yes → return to STAGE 3 | IF no → STAGE 6\n\n**STAGE 6: CLOSING**\nAR: `شكرا لاتصالك بناقل اكسبرس, راح يتم تحويلك للتقييم` | EN: `Thank you for calling Naqel Express. Please answer the evaluation.`\nEND\n\n## KB KEYWORDS\ndelivered → `Shipment Delivered`\nin_transit/out_for_delivery → `Shipment Under Delivery`\nwrong_address/incomplete_address → `Shipment With Incorrect Address`\nrefused → `Shipment - Refused Delivery`\nTurn 3 → `Urgent Delivery & Recipient Coordination`\n\n## OUT OF SCOPE\nAR: `للاسف استاذ {Customer Full Name} هذا خارج نطاق خدمتنا. اقدر اساعدك في تتبع الشحنات. عندك شحنة تبي تستفسر عنها؟` | EN: `I apologize, this is outside our scope. I assist with tracking. Do you have a shipment?`\nIF yes → STAGE 3 | IF no → STAGE 6\n\n## PLACEHOLDERS\n{Customer Full Name} → From Stage 2\n{Waybill Number}, {Delivery Date}, {Delivery Time}, {Signed By} → From NaqelTrackingDB\n{Status Message} → From Knowledge_Base",
          "maxIterations": 3,
          "enableStreaming": true,
          "batching": {
            "batchSize": 12
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        288
      ],
      "id": "a55f71dd-aa5c-4934-9fa1-98ba56e6020d",
      "name": "Conversation Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0.5,
          "maxTokens": 256,
          "temperature": 0,
          "topP": 0.1,
          "promptCacheKey": "agent-naqel-v3"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        496
      ],
      "id": "7131dd20-6f3e-4254-be0b-cf27ed3977c6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "C2ZN2vO3U0wx0Vmj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1120,
        496
      ],
      "id": "6c24b800-3956-4002-80fe-77ad11650946",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://primary-production-77c2.up.railway.app/mcp/test/tools/v2/",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1280,
        496
      ],
      "id": "5e2aa184-e85d-4f60-a83a-936803d809e2",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besmart/voice/agent/",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        928,
        288
      ],
      "id": "5a35cba3-87b9-4434-bd60-b40381604b4d",
      "name": "Webhook",
      "webhookId": "6c27d563-0e68-49de-9e38-622faad7cda9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ $json.output.toJsonString() }}\n} ",
        "options": {
          "enableStreaming": true
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1376,
        288
      ],
      "id": "568e9904-f8c8-40fa-bd7d-057907fc09bc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "##  WebSockets",
        "height": 432,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        208
      ],
      "typeVersion": 1,
      "id": "79586e5e-e4c0-4add-a870-7538a7a91968",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "LookupByWaybill": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LookupByPhone": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Conversation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Conversation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Conversation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Conversation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "primary-production-77c2.up.railway.app",
          "user-agent": "PostmanRuntime/7.51.1",
          "content-length": "69",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br",
          "cache-control": "no-cache",
          "content-type": "application/json",
          "postman-token": "38b68ffc-7e5b-4ce7-848b-77c4d27c94dd",
          "x-forwarded-for": "185.184.192.195",
          "x-forwarded-host": "primary-production-77c2.up.railway.app",
          "x-forwarded-proto": "https",
          "x-railway-edge": "railway/europe-west4-drams3a",
          "x-railway-request-id": "Szb9LiQ3Scuc8JNzw9P4nw",
          "x-real-ip": "185.184.192.195",
          "x-request-start": "1770820554348"
        },
        "params": {},
        "query": {},
        "body": {
          "text": "السلام عليكم",
          "session_id": "1"
        },
        "webhookUrl": "https://primary-production-77c2.up.railway.app/webhook-test/besmart/voice/agent/",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "instanceId": "2541cc8fb94d995205f64d025aa1c90c25ba69124efa1847f4a7c9c690e18108"
  }
}
