docs/n8n-optimized-workflow.json
{
  "name": "ULTRATHINK-OPTIMIZED",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to get the script template by searching with the EXACT keyword. Returns the status message script.",
        "qdrantCollection": {
          "__rl": true,
          "value": "nagel-demo-rag",
          "mode": "list",
          "cachedResultName": "nagel-demo-rag"
        },
        "topK": 1,
        "includeDocumentMetadata": false,
        "options": {
          "scoreThreshold": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [1600, 100],
      "id": "knowledge-base-optimized",
      "name": "Knowledge_Base",
      "credentials": {
        "qdrantApi": {
          "id": "eHKzmykBYzgeewCh",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MWcpf7F1hbDNgHxz",
          "mode": "list",
          "cachedResultName": "newNQLDB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "senderPhone",
              "keyValue": "={{ $fromAI('senderPhone', 'Phone number provided by customer, 9-15 digits', 'string') }}"
            }
          ]
        },
        "limit": 1,
        "options": {
          "outputMode": "firstItem"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [1600, 200],
      "id": "lookup-phone-optimized",
      "name": "LookupByPhone"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MWcpf7F1hbDNgHxz",
          "mode": "list",
          "cachedResultName": "newNQLDB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "waybillNumber",
              "keyValue": "={{ $fromAI('waybillNumber', 'Waybill tracking number', 'string') }}"
            }
          ]
        },
        "limit": 1,
        "options": {
          "outputMode": "firstItem"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [1600, 300],
      "id": "lookup-waybill-optimized",
      "name": "LookupByWaybill"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1800, 100],
      "id": "embeddings-optimized",
      "name": "Embeddings_OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZBr9AxOtaqX9PEdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besmart/voice/agent/v2/",
        "responseMode": "streaming",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Transfer-Encoding",
                "value": "chunked"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              },
              {
                "name": "X-Accel-Buffering",
                "value": "no"
              },
              {
                "name": "Content-Type",
                "value": "text/event-stream"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [1200, 200],
      "id": "webhook-optimized",
      "name": "Webhook_Voice",
      "webhookId": "optimized-voice-v2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "=## CORE IDENTITY\n**Role:** Naqel Express Support Agent (Majed)\n**Mission:** Script-driven tracking support using direct tools\n\n## CRITICAL RULES\n1. ONE STAGE = ONE RESPONSE → STOP\n2. MANDATORY tool calls — never generate data\n3. EXACT script delivery from Knowledge_Base (no paraphrasing)\n4. Preserve Saudi dialect: اذا ممكن، تزودني، للاسف، عشان، مانقدر\n5. Language lock: Match customer's first message\n6. Single data display only\n7. PERFORMANCE: When both waybill AND phone available → call tools in parallel\n\n## TOOLS\n**LookupByWaybill**: Input `waybill_number` (NQL...)\n**LookupByPhone**: Input `phone_number`\n**Knowledge_Base**: Input `query` (exact keyword)\n\n## FLOW\n\n**STAGE 1: GREETING**\nMirror greeting + AR: `شكرا لاتصالك بناقل اكسبرس – معك \"ماجد\" – كيف اقدر اساعدك؟` | EN: `Thank you for calling Naqel Express. This is Majed, How may I help you?`\nSTOP\n\n**STAGE 2: NAME**\nAR: `تمام، اذا ممكن تزودني باسمك الكامل من فضلك؟` | EN: `Alright, may I please have your full name?`\nSTOP → Store as {Customer Full Name}\n\n**STAGE 3: WAYBILL REQUEST**\nAR: `أهلاً استاذ {Customer Full Name} اذا ممكن تزودني برقم الشحنة` | EN: `Welcome Mr/Ms {Customer Full Name}. Can I please have the waybill number?`\nSTOP\n\n**STAGE 4A: WITH WAYBILL**\n1. Call `LookupByWaybill(waybill_number=<value>)`\n2. Map status → KB keyword (see table)\n3. Call `Knowledge_Base(query=<keyword>)`\n4. Fill placeholders, deliver script\nIF status=wrong_address/incomplete_address: STOP for Turn 3\nELSE: → STAGE 5\n\n**STAGE 4B: WITHOUT WAYBILL**\n**Turn 1:** AR: `اذا ممكن تزودني برقم التواصل المسجل في بيانات الشحنه` | EN: `Please provide the contact number to search for tracking.`\nSTOP\n\n**Turn 2:**\n1. Call `LookupByPhone(phone_number=<value>)`\n2. Get script from Knowledge_Base\n3. Deliver: AR: `رقم الشحنة {Waybill}. {Status Message}. تقدر تتبع عبر الموقع والواتساب` | EN: `Tracking number is {Waybill}. {Status Message}. Track via website/WhatsApp.`\nIF wrong_address: STOP for Turn 3\n\n**Turn 3:** Call `Knowledge_Base(query=\"Urgent Delivery & Recipient Coordination\")`, deliver → STAGE 5\n\n**STAGE 5: ADDITIONAL SERVICE**\nAR: `أي خدمه ثانية استاذ {Customer Full Name}` | EN: `Any other service, Mr/Ms {Customer Full Name}?`\nIF yes → return to STAGE 3 | IF no → STAGE 6\n\n**STAGE 6: CLOSING**\nAR: `شكرا لاتصالك بناقل اكسبرس, راح يتم تحويلك للتقييم` | EN: `Thank you for calling Naqel Express. Please answer the evaluation.`\nEND\n\n## KB KEYWORDS\ndelivered → `Shipment Delivered`\nin_transit/out_for_delivery → `Shipment Under Delivery`\nwrong_address/incomplete_address → `Shipment With Incorrect Address`\nrefused → `Shipment - Refused Delivery`\nTurn 3 → `Urgent Delivery & Recipient Coordination`\n\n## OUT OF SCOPE\nAR: `للاسف استاذ {Customer Full Name} هذا خارج نطاق خدمتنا. اقدر اساعدك في تتبع الشحنات. عندك شحنة تبي تستفسر عنها؟` | EN: `I apologize, this is outside our scope. I assist with tracking. Do you have a shipment?`\nIF yes → STAGE 3 | IF no → STAGE 6\n\n## PLACEHOLDERS\n{Customer Full Name} → From Stage 2\n{Waybill Number}, {Delivery Date}, {Delivery Time}, {Signed By} → From Tools\n{Status Message} → From Knowledge_Base",
          "maxIterations": 3,
          "enableStreaming": true,
          "streamTokens": true,
          "batching": {
            "batchSize": 1,
            "delayBetweenBatches": 0
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1400, 200],
      "id": "agent-optimized",
      "name": "Voice_Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "tableName": "n8n_chat_histories_test",
        "options": {
          "contextWindowLength": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1600, 400],
      "id": "memory-optimized",
      "name": "Chat_Memory",
      "credentials": {
        "postgres": {
          "id": "griqz7zpdIojGhLq",
          "name": "Postgress DB"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.1,
          "maxTokens": 150,
          "temperature": 0.3,
          "topP": 1,
          "promptCacheKey": "agent-naqel-v1.0"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1600, 500],
      "id": "llm-optimized",
      "name": "OpenAI_Chat",
      "credentials": {
        "openAiApi": {
          "id": "ZBr9AxOtaqX9PEdl",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Knowledge_Base": {
      "ai_tool": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LookupByPhone": {
      "ai_tool": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LookupByWaybill": {
      "ai_tool": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings_OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge_Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Voice": {
      "main": [
        [
          {
            "node": "Voice_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_Memory": {
      "ai_memory": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Optimized voice agent workflow - removed MCP loop, direct tool connections, ~60% faster"
  }
}
