docs/n8n-ultra-optimized-workflow.json
{
  "name": "ULTRATHINK-V3-MINIMAL-PROMPT",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Get exact script template by keyword (e.g. 'Shipment Delivered', 'Shipment Under Delivery'). Returns complete Arabic/English script with placeholders.",
        "qdrantCollection": {
          "__rl": true,
          "value": "nagel-demo-rag",
          "mode": "list",
          "cachedResultName": "nagel-demo-rag"
        },
        "topK": 1,
        "includeDocumentMetadata": false,
        "options": {
          "scoreThreshold": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [1600, 100],
      "id": "knowledge-base-ultra",
      "name": "Knowledge_Base",
      "credentials": {
        "qdrantApi": {
          "id": "eHKzmykBYzgeewCh",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MWcpf7F1hbDNgHxz",
          "mode": "list",
          "cachedResultName": "newNQLDB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "senderPhone",
              "keyValue": "={{ $fromAI('senderPhone', 'Phone number', 'string') }}"
            }
          ]
        },
        "limit": 1,
        "options": {
          "outputMode": "firstItem"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [1600, 200],
      "id": "lookup-phone-ultra",
      "name": "LookupByPhone"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MWcpf7F1hbDNgHxz",
          "mode": "list",
          "cachedResultName": "newNQLDB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "waybillNumber",
              "keyValue": "={{ $fromAI('waybillNumber', 'Waybill number (NQL...)', 'string') }}"
            }
          ]
        },
        "limit": 1,
        "options": {
          "outputMode": "firstItem"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [1600, 300],
      "id": "lookup-waybill-ultra",
      "name": "LookupByWaybill"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1800, 100],
      "id": "embeddings-ultra",
      "name": "Embeddings_OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZBr9AxOtaqX9PEdl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "besmart/voice/agent/v3/",
        "responseMode": "streaming",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Transfer-Encoding",
                "value": "chunked"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              },
              {
                "name": "X-Accel-Buffering",
                "value": "no"
              },
              {
                "name": "Content-Type",
                "value": "text/event-stream"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [1200, 200],
      "id": "webhook-ultra",
      "name": "Webhook_Voice",
      "webhookId": "ultra-voice-v3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "=You are Majed, Naqel Express support agent. Help customers track shipments.\n\n## Rules\n1. Match user language (AR/EN)\n2. ONE response per turn, then STOP\n3. Use tools for all data (never invent)\n4. Keep responses under 40 words\n\n## Flow\nStage 1: Greet → \"شكرا لاتصالك بناقل اكسبرس – معك ماجد – كيف اقدر اساعدك؟\"\nStage 2: Get name → \"اذا ممكن اسمك الكامل؟\"\nStage 3: Get waybill → \"أهلاً استاذ {{name}} اذا ممكن تزودني برقم الشحنة\"\nStage 4: Lookup → Call LookupByWaybill OR LookupByPhone → Map status:\n  - delivered → Knowledge_Base(\"Shipment Delivered\")\n  - in_transit/out_for_delivery → Knowledge_Base(\"Shipment Under Delivery\")\n  - wrong_address/incomplete_address → Knowledge_Base(\"Shipment With Incorrect Address\")\n  - refused → Knowledge_Base(\"Shipment - Refused Delivery\")\nStage 5: More help? → \"أي خدمه ثانية استاذ {{name}}؟\"\nStage 6: Close → \"شكرا لاتصالك بناقل اكسبرس\"\n\nOut of scope → \"للاسف هذا خارج نطاق خدمتنا. عندك شحنة؟\"",
          "maxIterations": 2,
          "enableStreaming": true,
          "streamTokens": true,
          "batching": {
            "batchSize": 1,
            "delayBetweenBatches": 0
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1400, 200],
      "id": "agent-ultra",
      "name": "Voice_Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "tableName": "n8n_chat_histories_test",
        "options": {
          "contextWindowLength": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1600, 400],
      "id": "memory-ultra",
      "name": "Chat_Memory",
      "credentials": {
        "postgres": {
          "id": "griqz7zpdIojGhLq",
          "name": "Postgress DB"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0.3,
          "presencePenalty": 0.1,
          "maxTokens": 120,
          "temperature": 0.2,
          "topP": 1,
          "promptCacheKey": "naqel-v2.0"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1600, 500],
      "id": "llm-ultra",
      "name": "OpenAI_Chat",
      "credentials": {
        "openAiApi": {
          "id": "ZBr9AxOtaqX9PEdl",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Knowledge_Base": {
      "ai_tool": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LookupByPhone": {
      "ai_tool": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LookupByWaybill": {
      "ai_tool": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings_OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge_Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Voice": {
      "main": [
        [
          {
            "node": "Voice_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_Memory": {
      "ai_memory": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI_Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Voice_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Ultra-optimized: 150-word prompt, maxIterations=2, contextWindow=6, maxTokens=120"
  }
}
